@model System.Collections.Generic.List<Street>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form>
        <div class="row">
            <div class="col-1">
                <label style="padding-top: 5px"><b>Улица</b></label>
            </div>
            <div class="col-3">
                <select class="form-control street">
                    @foreach (Street street in Model)
                    {
                        <option value="@street.id">@street.socr @street.name</option>
                    }
                </select>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-1">
                <label style="padding-top: 5px"><b>Строение</b></label>
            </div>
            <div class="col-3">
                
                <select id="houses" class="form-control">
                    @{
                        System.Collections.Generic.List<House> houses = Model.FirstOrDefault().Houses;
                    }
                    @foreach (House house in houses)
                    {
                        <option value="@house.id">@house.num</option>
                    }
                </select>
            </div>
        </div>
    </form>
</div>
